<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <title>
        {% block title %}
            Place-holderrr
        {% endblock %}
    </title>

    <style>
    .conditional_form_part {
        display: none;
    }

    .conditional_form_part_activator:checked + .conditional_form_part {
        display: block;
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'core:movielist' %}">IMDB</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'core:movielist' %}">Movies <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:actorlist' %}">Actors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:awardlist' %}">Awards</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container" align="center">
        {% block main %}
            Place-holderrr
        {% endblock %}
    </div>
</body>
</html>