{% extends 'base.html' %} {% load static %} {% block title %} Actor List {% endblock %} {% block main %} {% if user.is_authenticated %}
<div>
    <form action="{% url 'core:actorcreate' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Create Actor">
    </form>
</div>
{% endif %} {% for actor in object_list %}
<div>
    <a href={% url 'core:actordetail' actor.id %}>
        <img src="{{ actor.avatar.url }}" alt="Place-holder" width="300" height="300">
    </a>
</div>
<div>
    <a href={% url 'core:actordetail' actor.id %}>
        <h1>{{ actor.first_name }} {{ actor.last_name }}</h1>
    </a>
    <p></p>
</div>
{% if user.is_authenticated %}
<div>
    <form action="{% url 'core:actorupdate' actor.id%}" method="post">
        {% csrf_token %}
        <input type="submit" value="Edit Actor">
    </form>
</div>
<div>
    <form action="{% url 'core:actordelete' actor.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Actor">
    </form>
</div>
{% endif %} {% empty %}
<li>No actors yet.</li>
{% endfor %} {% endblock %}