{% extends 'base.html' %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block main %}
    <div>
        <h1>{{ object.first_name }} {{ object.last_name }}</h1>
    </div>
    <div>
        <p></p>
        <img src="{{ object.avatar.url }}" alt="Place-holder"
        width="300"
        height="300">
    </div>
    <div>
        <h6>First Name: {{ object.first_name }}</h6>
    </div>
    <div>
        <h6>Last Name: {{ object.last_name }}</h6>
    </div>
    <div>
        <h6>Birth Date: {{ object.birth_date }}</h6>
    </div>
    <div>
        <h6>Sex: {{ object.get_sex_display }}</h6>
    </div>
    <div>
        <h6>Nationality: {{ object.nationality }}</h6>
    </div>
    <div>
        <h6>Alive: {{ object.alive }}</h6>
    </div>
    {% if user.is_authenticated %}
    <div>
        <form action="{% url 'core:actorupdate' object.id%}" method="post">
            {% csrf_token %}
        <input type="submit" value="Edit Actor">
        </form>
    </div>
    <div>
        <form action="{% url 'core:actordelete' object.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Actor">
        </form>
    </div>
    {% endif %}
{% endblock %}