{% extends 'base.html' %}


{% load static %}

{% block title %}
    Movie List
{% endblock %}

{% block main %}
    {% if user.is_authenticated %}
        <div>
            <form action="{% url 'core:moviecreate' %}" method="post">
                {% csrf_token %}
            <input type="submit" value="Create Movie">
            </form>
        </div>
    {% endif %}
    {% for movie in object_list %}
        <div>
            <a href={% url 'core:moviedetail' movie.id %}>
                <img src="{{ movie.logo.url }}" alt="Place-holder"
                width="300"
                height="300">
            </a>
        </div>
        <div>
            <a href={% url 'core:moviedetail' movie.id %}>
                <h1>{{ movie.title }} ({{ movie.release_date|date:"Y" }})</h1>
            </a>   
            
        <p></p>
        </div>
    {% if user.is_authenticated %}
        <div>
            <form action="{% url 'core:movieupdate' movie.id%}" method="post">
                {% csrf_token %}
                <input type="submit" value="Edit Movie">
            </form>
        </div>
        <div>
            <form action="{% url 'core:moviedelete' movie.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete Movie">
            </form>
        </div>
    {% endif %}
        
    {% empty %}
        <li>No movies yet.</li>
    {% endfor %}

{% endblock %}
