{% extends 'base.html' %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block main %}
    <div>
        <h1>{{ object.title }} ({{ object.release_date|date:"Y" }})</h1>
        <button type="button" class="btn btn-dark">{{ object.category }}</button>
    </div>
    <div>
        <p></p>
        <img src="{{ object.logo.url }}" alt="Place-holder"
        width="300"
        height="300">
    </div>
    <div>
        <h6>Release Date: {{ object.release_date }}</h6>
    </div>
    <h4>
        Actors
    </h4>
    <div>
        {{ object.actors.all|join:", " }}
    </div>
    <div>
        <h3>Description</h3>
    </div>
    <div>
        {{ object.description }}
    </div>
    {% if user.is_authenticated %}
    <div>
        <form action="{% url 'core:movieupdate' object.id%}" method="post">
            {% csrf_token %}
        <input type="submit" value="Edit Movie">
        </form>
    </div>
    <div>
        <form action="{% url 'core:moviedelete' object.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Movie">
        </form>
    </div>
    {% endif %}
{% endblock %}