{% extends "user/base.html" %} {% block title %} Logout page {% endblock %} {% block main %}



<!-- Displaying background-video -->
<header>
    <video loop muted autoplay playsinline>
        <source src="/static/user/space.mp4" type="video/mp4" />
    </video>
    <div class="banner">
        <div class="banner-text">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-2 text-light">You have logged out!</h1>
                </div>
            </div>
        </div>

        <!-- LogIn Form-->
        <div class="banner-text">
            <label>Login Again?</label>
            <!-- LogIn button -->
            <form action="{% url 'user:login' %}">
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <br>
            <!-- Homepage button -->
            <form action="{% url 'user:home' %}">
                <button type="submit" class="btn btn-primary">Home</button>
            </form>
        </div>
    </div>
</header>



{% endblock %}