{% extends 'core/base.html' %} {% load static %} {% block title %} Movie List {% endblock %} {% block main %}

<!-- Display movie list through Bootstrap Carousel -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <!-- Iterate through the items -->
        {% for movie in object_list %} {% if forloop.first %}
        <div class="carousel-item active">
            <a href={% url 'core:moviedetail' movie.id %}>
                <img src="{{ movie.logo.url }}" alt="Place-holder" width="500" height="500">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <a href={% url 'core:moviedetail' movie.id %}>
                    <h2>{{ movie.title }} ({{ movie.release_date|date:"Y" }})</h2>
                </a><br> {% if user.is_authenticated %}
                <form action="{% url 'core:movieupdate' movie.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary btn-lg" type="submit">Edit</button>
                </form>
                <form action="{% url 'core:moviedelete' movie.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary btn-lg" type="submit">Delete</button>
                </form>
                {% endif %}
            </div>
        </div>
        <!-- Iterate through the rest of the list -->
        {% else %}
        <div class="carousel-item">
            <a href={% url 'core:moviedetail' movie.id %}>
                <img src="{{ movie.logo.url }}" alt="Place-holder" width="500" height="500">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <a href={% url 'core:moviedetail' movie.id %}>
                    <h2>{{ movie.title }} ({{ movie.release_date|date:"Y" }})</h2>
                </a><br> {% if user.is_authenticated %}
                <form action="{% url 'core:movieupdate' movie.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary btn-lg" type="submit">Edit</button>
                </form>
                <form action="{% url 'core:moviedelete' movie.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary btn-lg" type="submit">Delete</button>
                </form>
                {% endif %}
            </div>
        </div>
        <!-- Display message if empty -->
        {% endif %} {% empty %}
        <h1>No movies yet.</h1>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Only allow rightful user to add new movie -->
{% if user.is_authenticated %}
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Movie</button>

<form method="post" action="{% url 'core:moviecreate' %}" enctype='multipart/form-data'>{% csrf_token %}
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Movie</h4>
                </div>
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
                </div>
            </div>

        </div>
    </div>
</form>
{% endif %} {% endblock %}