<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">
    
    <title>
        {% block title %}Intek Movie Database {% endblock %}
    </title>
    <style>
        .imdb-masthead {
            background-color: #EEEEEE;
            margin-bottom: 1em;
        }
    </style>

</head>

<body>
    <div class='masthead'>
        <div class='container'>
            <nav class='nav'>
                <div class='navbar'>IMDB</div>
                <a class='nav-link'
                href="{% url 'core:MovieList' %}">
                    Movies
                </a>
            </nav>
        </div>
    </div>

    <div class='container'>
        <div class='row'>
            <div class='col-sm-8 imdb-main'>
                {% block main %} {% endblock %}
            </div>
            <div class='col-sm-3 offset-sm-1 imdb-sidebar'>
                {% block sidebar %} {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
