{% extends "user/base.html" %} {% block title %} Page Not Found {% endblock %} {% block main %}

<!-- Display background picture -->
<header>
    <img src="/static/user/black.jpg" alt="Black" />
    <div class="banner">
        <div class="banner-text">
        <!-- User Bootstrap Formatting -->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-2 text-light">PAGE NOT FOUND</h1>
                    <p class="lead">Welcome to the Dark side</p>
                </div>
            </div>
        </div>

        <!-- Show Homepage button -->
        <div class="banner-text">
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                <a href="{% url 'user:home' %}">
                    <button type="button" class="btn btn-secondary btn-lg btn-space">BACK TO HOMEPAGE</button>
                </a>
            </div>
        </div>
    </div>
</header>

{% endblock %}